.container{
    margin-bottom: 50px;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 15px;
}
.carousel-item{
    padding: 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b, #ff1368);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}